<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311073441268-7t5kshoulc96avjqp4s4jq83r3at5eub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311073441268-7t5kshoulc96avjqp4s4jq83r3at5eub</string>
	<key>API_KEY</key>
	<string>AIzaSyCqY5HDsXx4KTuzeRgB7mgUp6yifRZLUak</string>
	<key>GCM_SENDER_ID</key>
	<string>311073441268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whyte.cryptolin</string>
	<key>PROJECT_ID</key>
	<string>cryptolin-ff277</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptolin-ff277.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311073441268:ios:d8c1fea96fd795069a25a1</string>
</dict>
</plist>